NEXT_PUBLIC_SITE_URL=https://globe.corteqs.net

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

GEOCODER_PROVIDER=nominatim
NOMINATIM_USER_AGENT=may19-globe/1.0 admin@corteqs.net
NOMINATIM_FROM_EMAIL=

GOOGLE_GEOCODING_API_KEY=
ENABLE_GOOGLE_GEOCODING=false

PIN_DEVICE_DAILY_LIMIT=3
PIN_IP_HOURLY_LIMIT=10
PIN_ABUSE_HASH_SALT=change-this-salt
